In [4]:
import pandas as pd  ##importing library
data=pd.read_csv("/content/Ionosphere.csv")  ##loading the data
data

     V1  V2       V3       V4  ...      V32      V33      V34  Class
0     1   0  0.99539 -0.05889  ... -0.54487  0.18641 -0.45300      1
1     1   0  1.00000 -0.18829  ... -0.06288 -0.13738 -0.02447      0
2     1   0  1.00000 -0.03365  ... -0.24180  0.56045 -0.38238      1
3     1   0  1.00000 -0.45161  ...  1.00000 -0.32382  1.00000      0
4     1   0  1.00000 -0.02401  ... -0.59573 -0.04608 -0.65697      1
..   ..  ..      ...      ...  ...      ...      ...      ...    ...
346   1   0  0.83508  0.08298  ... -0.10714  0.90546 -0.04307      1
347   1   0  0.95113  0.00419  ... -0.00035  0.91483  0.04712      1
348   1   0  0.94701 -0.00034  ...  0.00442  0.92697 -0.00577      1
349   1   0  0.90608 -0.01657  ... -0.03757  0.87403 -0.16243      1
350   1   0  0.84710  0.13533  ... -0.06678  0.85764 -0.06151      1

[351 rows x 35 columns]

In [5]:
data.head()  ##returns first 5 rows

   V1  V2       V3       V4       V5  ...      V31      V32      V33      V34  Class
0   1   0  0.99539 -0.05889  0.85243  ...  0.42267 -0.54487  0.18641 -0.45300      1
1   1   0  1.00000 -0.18829  0.93035  ... -0.16626 -0.06288 -0.13738 -0.02447      0
2   1   0  1.00000 -0.03365  1.00000  ...  0.60436 -0.24180  0.56045 -0.38238      1
3   1   0  1.00000 -0.45161  1.00000  ...  0.25682  1.00000 -0.32382  1.00000      0
4   1   0  1.00000 -0.02401  0.94140  ... -0.05707 -0.59573 -0.04608 -0.65697      1

[5 rows x 35 columns]

In [7]:
data.info()  ##displaying name,data types and number of non null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351 entries, 0 to 350
Data columns (total 35 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   V1      351 non-null    int64
 1   V2      351 non-null    int64
 2   V3      351 non-null    float64
 3   V4      351 non-null    float64
 4   V5      351 non-null    float64
 5   V6      351 non-null    float64
 6   V7      351 non-null    float64
 7   V8      351 non-null    float64
 8   V9      351 non-null    float64
 9   V10     351 non-null    float64
 10  V11     351 non-null    float64
 11  V12     351 non-null    float64
 12  V13     351 non-null    float64
 13  V14     351 non-null    float64
 14  V15     351 non-null    float64
 15  V16     351 non-null    float64
 16  V17     351 non-null    float64
 17  V18     351 non-null    float64
 18  V19     351 non-null    float64
 19  V20     351 non-null    float64
 20  V21     351 non-null    float64
 21  V22     351 non-null    float64
 22  V23     351 non-null    float64
 23  V24     351 non-null    float64
 24  V25     351 non-null    float64
 25  V26     351 non-null    float64
 26  V27     351 non-null    float64
 27  V28     351 non-null    float64
 28  V29     351 non-null    float64
 29  V30     351 non-null    float64
 30  V31     351 non-null    float64
 31  V32     351 non-null    float64
 32  V33     351 non-null    float64
 33  V34     351 non-null    float64
 34  Class   351 non-null    int64
dtypes: float64(32), int64(3)
memory usage: 96.1 KB

In [9]:
data.describe()  ##computing summary stastics

               V1     V2          V3  ...         V33         V34       Class
count  351.000000  351.0  351.000000  ...  351.000000  351.000000  351.000000
mean     0.891738    0.0    0.641342  ...    0.349364    0.014480    0.641026
std      0.311155    0.0    0.497708  ...    0.522663    0.468337    0.480384
min      0.000000    0.0   -1.000000  ...   -1.000000   -1.000000    0.000000
25%      1.000000    0.0    0.472135  ...    0.000000   -0.165350    0.000000
50%      1.000000    0.0    0.871110  ...    0.409560    0.000000    1.000000
75%      1.000000    0.0    1.000000  ...    0.813765    0.171660    1.000000
max      1.000000    0.0    1.000000  ...    1.000000    1.000000    1.000000

[8 rows x 35 columns]

In [10]:
y=data["Class"]  ##assigning target column to variable y

In [ ]:
##step 1- Extracting features

In [13]:
x=data.drop("Class",axis=1) ##dropping target column from data

In [14]:
x.head()

   V1  V2       V3       V4  ...      V31      V32      V33      V34
0   1   0  0.99539 -0.05889  ...  0.42267 -0.54487  0.18641 -0.45300
1   1   0  1.00000 -0.18829  ... -0.16626 -0.06288 -0.13738 -0.02447
2   1   0  1.00000 -0.03365  ...  0.60436 -0.24180  0.56045 -0.38238
3   1   0  1.00000 -0.45161  ...  0.25682  1.00000 -0.32382  1.00000
4   1   0  1.00000 -0.02401  ... -0.05707 -0.59573 -0.04608 -0.65697

[5 rows x 34 columns]

In [15]:
x.drop("V2",axis=1) ##The second feature, V2 has no variance and therefore isn't useful for the model

     V1       V3       V4       V5  ...      V31      V32      V33      V34
0     1  0.99539 -0.05889  0.85243  ...  0.42267 -0.54487  0.18641 -0.45300
1     1  1.00000 -0.18829  0.93035  ... -0.16626 -0.06288 -0.13738 -0.02447
2     1  1.00000 -0.03365  1.00000  ...  0.60436 -0.24180  0.56045 -0.38238
3     1  1.00000 -0.45161  1.00000  ...  0.25682  1.00000 -0.32382  1.00000
4     1  1.00000 -0.02401  0.94140  ... -0.05707 -0.59573 -0.04608 -0.65697
..   ..      ...      ...      ...  ...      ...      ...      ...      ...
346   1  0.83508  0.08298  0.73739  ...  0.86660 -0.10714  0.90546 -0.04307
347   1  0.95113  0.00419  0.95183  ...  0.94066 -0.00035  0.91483  0.04712
348   1  0.94701 -0.00034  0.93207  ...  0.92459  0.00442  0.92697 -0.00577
349   1  0.90608 -0.01657  0.98122  ...  0.96022 -0.03757  0.87403 -0.16243
350   1  0.84710  0.13533  0.73638  ...  0.75747 -0.06678  0.85764 -0.06151

[351 rows x 33 columns]

In [16]:
x.isna().sum()  ##checking for null values in feature columns

V1     0
V2     0
V3     0
V4     0
V5     0
V6     0
V7     0
V8     0
V9     0
V10    0
V11    0
V12    0
V13    0
V14    0
V15    0
V16    0
V17    0
V18    0
V19    0
V20    0
V21    0
V22    0
V23    0
V24    0
V25    0
V26    0
V27    0
V28    0
V29    0
V30    0
V31    0
V32    0
V33    0
V34    0
dtype: int64

In [17]:
y.isna().sum()  ##checking for null values in target column

0

In [18]:
x.dtypes ##checking feature columns are numeric

V1       int64
V2       int64
V3     float64
V4     float64
V5     float64
V6     float64
V7     float64
V8     float64
V9     float64
V10    float64
V11    float64
V12    float64
V13    float64
V14    float64
V15    float64
V16    float64
V17    float64
V18    float64
V19    float64
V20    float64
V21    float64
V22    float64
V23    float64
V24    float64
V25    float64
V26    float64
V27    float64
V28    float64
V29    float64
V30    float64
V31    float64
V32    float64
V33    float64
V34    float64
dtype: object

In [19]:
type(x) ##checking type of the data

pandas.core.frame.DataFrame

In [20]:
x.shape ##returns number of rows and column

(351, 34)

In [ ]:
##step2- splitting the dataset into training and testing datasets

In [22]:
from sklearn.model_selection import train_test_split

In [24]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42,stratify=y)

In [25]:
from sklearn.preprocessing import MinMaxScaler  ##feature should be on same scale

In [26]:
scaler=MinMaxScaler()

In [27]:
x_train=scaler.fit_transform(x_train)

In [29]:
x_test=scaler.transform(x_test)

In [ ]:
##step3- train the model on the training dataset

In [34]:
from sklearn.svm import SVC

In [38]:
model=SVC()

In [39]:
model.fit(x_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
##step 4- test the model on testing dataset

In [40]:
model.score(x_test,y_test)

0.9433962264150944